body {
    background-color: #eeeeee;
}

.v-slide-group-item--active {
    background-color: #AE8F59;
    color: white !important;
  }
  
.color-white {
background-color: white;
}

.page-wrapper {
background-color: #eeeeee;
}

.rounded-container {
    border-radius: 5px;
}